@charset "utf-8";
/* CSS Document */

canvas {
	background-color: white;
	border: 1px solid #000;
 	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	box-shadow: 10px 10px 5px #002222;
	z-index: -1;
}

html {
	background-color: #003333;
	min-height: 1080px;
	min-width: 500px;
}

h1 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75px;
	color: #FFFFFF;
	text-align: center;
	min-height: 100px;
}

div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 400px;

}